# dependencies
node_modules/
package-lock.json

# build outputs
dist/
build/
.turbo/

# logs
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# environment files
.env
.env.*
**/.env
**/.env.*
!**/.env.example

# editor
.idea/
.vscode/
*.swp
